*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  background-color: rgb(73, 66, 75);
}

.appDiv{
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;
  gap: 40px;

}

.profileDiv{
  background-color: white;
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;


  
}


.profileImage{
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 13px;
  border: 3px solid #4CAF50;
}

 .profileName{
margin-bottom: 15px;
} 

.profileProfession{
  color: rgb(52, 164, 46);
  font-size: 0.9rem;
  margin-bottom: 15px;
}

hr{
  width: 80%;
  height: 1px;
  border: none;
  background-color: gray;
  margin-bottom: 10px;
}
.profileEmail{
  color: rgb(24, 31, 52);
}

