@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1c2020;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
}


/* Creation of Nav Bar */

.nav_bar {
    display: flex;

    padding-top: 12px;
}

.nav_left {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 5px;
}

.nav_image {
    font-size: 22px;
    color: aliceblue;
}

.nav_txt {
    color: white;
    font-size: 0.80rem;
}

.nav_right {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 18px;
    color: aliceblue;
}

.nav_right .close:hover {
    background-color: #E81123;
    color: black;
}

.nav_right .maximize:hover {
    background-color: #eee0e0;
    color: black;
}

/* Creation Of Side Bar */

.side_bar {
    /* margin-top: 12px; */
    margin-left: 12px;
    font-size: 1.1rem;
}

.side_icons {
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: rgb(167, 172, 175);
}

.active {
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

.side_icons i:hover {
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.line {
    width: 35px;
    margin: 18px 0;
}



.side_bar1_1 {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.side_bar1_2 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 30px;
}

.profile {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url("mypic.jpg");
    background-size: cover;
    cursor: pointer;
}

/* Creation of Main Screen Area */

.outer_div {
    display: flex;
    margin-top: 10px;
}

.main_div {

    display: flex;
    background-color: rgb(19, 17, 17);
    border-top-left-radius: 10px;
    width: 100vw;
}

.scroll_Area {
    width: 350px;
}


.vertical_line {
    height: 100%;
    border: 0.1px solid;
}

.vertical_line:hover {
    cursor: e-resize;
    border: 3px solid #424646;
}

.wrap_text_icon {
    display: flex;
    justify-content: space-between;
    margin: 18px;
    font-size: 1.3rem;
    color: white;
}


.list-icons {

    display: flex;
    gap: 1.2rem;
}

.list-icons i:hover {
    background-color: #171717;
    cursor: pointer;
}



.search_contact {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 18px 0px 0px 15px;
    border: none;
    width: 310px;
    height: 40px;
    background-color: #2b2e2e;
    border-radius: 25px;
    padding-left: 10px;
}

.search_contact i {
    color: white;
}

.search_contact input {
    font-size: 1rem;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
}

input:focus {
    outline: none;
}

.search_contact input::placeholder {
    color: rgb(189, 193, 197);
}

/* Button Creation */
.four_Buttons {
    display: flex;
    gap: 13px;
    margin: 10px 12px 8px 16px;
}

.four_Buttons Button {
    display: flex;
    align-items: center;
    background: transparent;
    color: rgb(149, 152, 152);
    font-weight: 600;
    height: 30px;
    border-radius: 20px;
    padding: 8px;
    border: 0.2px solid rgb(60, 60, 60);
}

.four_Buttons Button:hover {
    cursor: pointer;
    background-color: #424646;
}


/* Contact List */
.scroll_Contact_List {
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.scroll_Contact_List .contact1 {
    display: flex;
    height: 60px;
    padding: 12px;
    padding-top: 10px;
    padding-left: 5px;
}

.contact1:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: #474b4b;
}

.img {
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
}

.contact_info {
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 62%;
    margin-left: 12px;
}

.contact_info span {
    color: white;
}

.contact_info p {
    color: #aeb6b6;
    font-size: 0.90rem;
}

.contact_date {
    font-size: 0.7rem;
    color: #aeb6b6;
}

/* Message Area */

.message_Area {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("ChatGPT\ Image\ Dec\ 24\,\ 2025\,\ 11_54_25\ AM.png");
    background-size: cover;
}

.message_top_bar {
    display: flex;
    background-color: rgb(19, 17, 17);
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.message_top_bar_left {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 14px;
}

.message_top_bar_left span {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}

.message_top_bar_left img {
    height: 40px;
    width: 40px;
}

.message_top_bar_right {
    color: rgb(235, 235, 235);
    display: flex;
    gap: 25px;
    margin-right: 20px;
    font-size: 1.2rem;
}

.message_top_bar_right i:hover {
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}



#search_contact1 {
    margin-top: auto;
    width: 865px;
    height: 50px;
    padding-right: 15px;
}

